body {
  margin: 2%;
  color: #1c0c59;
  font-family: "Poppins", sans-serif;
}

.weather-app {
  border: 1px solid #1c0c59;
}

.searchform {
  margin-top: 12%;
}

.searchbar {
  border: 2px solid #f6eb9a;
  border-radius: 5px;
  height: 40px;
  padding: 0;
  width: 300px;
}
.searchbar:focus {
  border-color: #5853bc;
  outline: none;
}

.searchbutton,
.currentButton {
  border-color: #f6eb9a;
  border-radius: 5px;
  background-color: transparent;
  margin: 3%;
}

.currentButton {
  margin: 0 auto;
}

.date {
  margin: 3% 0 0 3%;
}

.card-body {
  padding: 2%;
}
.main-weather-card {
  border-color: #f6eb9a;
  margin: 3% auto;
}

.city {
  text-align: center;
}

.weather-details {
  margin: 8% 10% 0;
  font-size: 18px;
}

.main-weather-img {
  width: 120px;
  margin-top: 5%;
}

.sky-description {
  margin: 8% auto 0;
  font-size: 20px;
}

.temperature {
  font-size: 35px;
  margin: 20% 15% 0;
}
.tempFigure {
  font-size: 40px;
}
.days-weather-card {
  border-color: #f6eb9a;
  padding: 2%;
}

.day-2-img,
.day-3-img,
.day-4-img,
.day-5-img,
.day-6-img {
  width: 80px;
  margin-bottom: 5%;
}
.day-2-temp,
.day-3-temp,
.day-4-temp,
.day-5-temp,
.day-6-temp {
  margin-bottom: 0;
  font-size: 20px;
}
.day-2,
.day-3,
.day-4,
.day-5,
.day-6 {
  margin-bottom: 0;
  font-size: 15px;
}
.other-cities {
  padding: 3%;
  font-size: 20px;
  color: #1c0c59;
}
a {
  text-decoration: none;
}

a:visited {
  color: #5853bc;
}
a:hover {
  text-decoration: underline;
}
